<!DOCTYPE html>
<html lang="es" class="fondo1" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Request List - Alten Game Club</title>
<!-- Link a las hojas de estilo -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
<link rel="stylesheet" href="..\css\toquesPersonales.css" />
</head>
<body class="fondo5">
	<!-- Banner de la página web -->
	<a th:replace="/Plantilla.html :: banner" href="/"></a>
	<!-- Barra de navegación -->
	<a th:replace="/Plantilla.html :: navbar" href="/"></a>
	<!-- Contenido General-->
	<div class="container text-center">
		<!--Nuestros Juegos-->
		<h3 class="text-center display-4 my-4" data-th-text="#{request.wait}"></h3>
		<div
			class="container border border-dark border-bottom-0 bg-light mt-4 rounded-top shadow p-3">
		</div>
		<div th:if="${ #lists.isEmpty(solicitudes)}"
			class="text-center rounded-bottom bg-light p-2 mb-4 border border-dark border-top-0 shadow">
			<p>Vaya, parece que no hay ninguna solicitud pendiente.</p>
		</div>
		<div th:if="${not #lists.isEmpty(solicitudes)}"
			class="table-responsive justify-content-center rounded-bottom bg-light p-2 mb-4 border border-dark border-top-0 shadow">

			<table class="table table-hover container-fluid">
				<thead class="thead-light">
					<tr>
						<th>Organizador</th>
						<th>Juego</th>
						<th>Dia</th>
						<th>Hora</th>
						<th>Opciones</th>
					</tr>
				</thead>
				<tbody class="bg-light">
					<tr th:each="solicitud : ${solicitudes}">
						<td th:text="${solicitud.usuarioOrganizador.getEmail()}"></td>
						<td th:text="${solicitud.juegoSolicitud.getNombreJuego()}"></td>
						<td th:text="${solicitud.diaPartida}"></td>
						<td th:text="${solicitud.horaPartida}"></td>
						<td>
							<div class="btn-group" role="group">
								<a href="#"
									th:href="@{/management/solicitudes/accept/{id}(id=${solicitud.getIdSolicitud()})}">
									<button type="button" class="btn btn-outline-success">
										Aceptar</button>
								</a> <a href="#"
									th:href="@{/management/solicitudes/decline/{id}(id=${solicitud.getIdSolicitud()})}">
									<button type="button" class="btn btn-outline-danger"
										data-toggle="modal" data-taget="#delete-modal"
										th:data-id="${solicitud.getIdSolicitud()}">Rechazar</button>
								</a>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<!-- Footer -->
	<div th:replace="/Plantilla.html :: footer"></div>
	<!-- Scripts JavaScript -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="..\js\pers.js"></script>
</body>
</html>
