<!DOCTYPE html>
<html lang="es" class="fondo1" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Game Session Status List - Alten Games Club</title>
<!-- Link a las hojas de estilo -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous" />
<link rel="stylesheet" href="\css\toquesPersonales.css" />
</head>
<body class="fondo5">
	<!-- Banner de la página web -->

	<a th:replace="/Plantilla.html :: banner" href="/"></a>
	<!-- Barra de navegación -->
	<a th:replace="/Plantilla.html :: navbar" href="/"></a>
	<!-- Contenido General-->
	<h3 class="display-4 my-4 text-center">
		<span
			th:text="${estadosPartida.getIdEstadoPartida()} ? 'Editar estado Partida' : 'Nuevo estados Partida'"></span>
	</h3>
	<div
		class="container text-center align-self-center fondo5 w-75 rounded-lg shadow bg-light border border-dark">
		<form method="post" action="#" class="justify-content-center"
			th:action="@{/management/estadosPartida/new/submit}"
			th:object="${estadosPartida}">
			<input type="hidden" th:field="*{idEstadoPartida}" id="id" />
			<div class="form-group my-3">
				<label for="nombreEstadoPartida"
					class="col-4 col-form-label d-none d-md-inline-flex">
					Nombre estado: </label> <input class="col-7 form-control d-inline-block"
					type="text" id="nombreEstadoPartida" placeholder="Nombre estado..."
					th:field="*{nombreEstadoPartida}" required />
			</div>
			<div class="form-group my-3">
				<label for="descripcionEstadoPartida"
					class="col-4 col-form-label d-none d-md-inline-flex">
					Descripción del estado: </label>
				<textarea class="col-7 form-control d-inline-block d-md-inline-flex"
					id="descripcionEstadoPartida" rows="4"
					th:field="*{descripcionEstadoPartida}" placeholder="Descripción..."></textarea>
			</div>
			<div class="form-group my-3">
				<button class="btn btn-outline-success mt-2 mb-5" type="submit">
					Crear estado partida</button>
			</div>
		</form>
	</div>
	<!-- Footer -->
	<div th:replace="/Plantilla.html :: footer"></div>
	<!-- Scripts JavaScript -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
		integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
		integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
		crossorigin="anonymous"></script>
	<script type="text/javascript" src="\js\pers.js"></script>
	<?php ?>
</body>
</html>
